.profile-page {
  display: flex;
  &__header {
    width: 320px;
    height: 100vh;
    background-color: #d9d9d9;
    &--text {
      margin-left: 35px;
      margin-top: 40px;
      p {
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #212353;
      }
    }
  }
  &__body {
    margin: auto;
    width: 60%;
    &--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 40px;
    }
    &--table {
      text-align: center;
    }
  }
}

.button-add {
  padding: 15px 70px 18px 90px;
  color: white;
  background: #9c69e2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: none;
}

.box {
  input {
    margin-right: 45px;
    background: #fdfdfd;
    border: 1px solid #000000;
    border-radius: 6px;
    height: 49px;
    width: 368px;
    &:focus {
      outline: none;
    }
  }
  select {
    background: #fdfdfd;
    border: 1px solid #000000;
    border-radius: 6px;
    height: 49px;
    width: 368px;
    &:focus {
      outline: none;
    }
  }
}

.button-edit {
  margin-right: 45px;
}
